.card {
    margin-bottom: 1vh;
    text-align: left;
    background-image: url("bg_eterelz.jpg") !important;
    background-size: 100%;
    color: #cccccc !important;
    max-width: 100% !important;
}

.cardHeader span {
    color: #cccccc !important;
}

.cardAvatar {
    background: rgba(0,0,0,0) !important;
}

.menuIcon {
    color: #cccccc !important;
}

ul {
    padding: 0 !important;
}

.menu {
    background-color: #121212 !important;
    color: #cccccc !important;
}

.reactPlayer {
    width: 100px !important;
    height: auto !important;

}
.carousel .slide iframe {
    width: 100%;
    margin: 0;
}
@media(max-width:960px) {
    .card {
        height: 5vh;
    }
}