.card {
    margin-bottom: 1vh;
    text-align: left;
    background-image: url("bg_eterelz.jpg") !important;
    background-size: 100%;
    color: #cccccc !important;
}

.css-1u22viz-MuiAvatar-root {
    background-color: rgba(0, 0, 0, 0) !important;
}

.css-83ijpv-MuiTypography-root {
    color: #cccccc !important;
}

.menuIcon {
    color: #cccccc !important;
}

.reactPlayer {
    width: 100px !important;
    height: auto !important;

}
.carousel .slide iframe {
    width: 100%;
    margin: 0;
}
@media(max-width:960px) {
    .card {
        height: 5vh;
    }
}