.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.errormessage{
    font-weight: bold;
    color: red;
}

.snackbar_register{
    margin-left: 100%;
}

.loginButton {
    padding: 0 !important;
}