.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.errormessage{
    font-weight: bold;
    color: red;
}

button{
    background: #7ddc32;
    padding: 1.5%;
    margin-top: 2%;
}

.test{
    margin-left: 100%;
}