.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.errormessage{
    font-weight: bold;
    color: red;
}

input{
    background: #2d63b3;
    padding: 1.5%;
    margin-top: 2%;
}

.snackbar_register{
    margin-left: 100%;
}