.main-content {
    margin: 4rem 2.5rem;
}

a {
    text-decoration: none;
    /*color: inherit;*/
}

h1{
    text-align: center;
}
.black-block {
    /*background: #121212;*/
    width: 100%;
    padding: 7% 5% 2% 5%;
    color: #8618ad;
}
