.disclaimer {
    font-family: 'Exo', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
    padding: 5px;
    margin: 0;
}

.userMenu {
    background-color: #121212;
    color: #cccccc;
}

.userMenu:hover {
    background-color: #121212;
    color: #8618ad;
}