.footer {
    padding-top: 0 !important;
}

.logo {
    width: 64px;
    height: auto;
}

.footerTitle {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.plateformList {
    /*position: absolute;*/
    list-style: none;
    /*right: 2vw;*/
    /*align-content: center;*/
}

.plateformList > li {
    display: inline;
}

.icon {
    /*width: 38px;*/
    /*height: auto;*/
    margin: 5px;
    color: red;
}
.fab {
    /*font-size: 250px;*/
    background:-moz-linear-gradient(right, rgba(0,168,212,1) 0%, rgba(134,24,173,1) 70%);
    background: -webkit-linear-gradient(right, rgba(0,168,212,1) 0%,rgba(134,24,173,1) 70%);
    background: linear-gradient(to right, rgba(0,168,212,1) 0%,rgba(134,24,173,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.youtubeIcon:hover, .twitterIcon:hover, .facebookIcon:hover, .discordIcon:hover, .twitchIcon:hover, .tiktokIcon:hover {
    background: none;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}

.youtubeIcon:hover {
    color: #FF0000;
}

.twitterIcon:hover {
    color: #17A3F2;
}

.facebookIcon:hover {
    color: #1877F2;
}

.discordIcon:hover {
    color: #8A9CFC;
}

.twitchIcon:hover {
    color: #A970FF;
}

.tiktokIcon:hover {
    color: #ffffff;
}